<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Bootstrap.Project.Templates">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\templates"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="BootstrapTemplates" database="master" path="/sitecore/templates/Bootstrap" />
					</predicate>
				</configuration>
				<configuration name="Bootstrap.Project.Presentation">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\presentation"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Bootstrap" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Bootstrap" />
					</predicate>
				</configuration>
				<configuration name="Bootstrap.Project.Media">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\media"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="BootstrapMedia" database="master" path="/sitecore/media library/Bootstrap" />
					</predicate>
				</configuration>
				<configuration name="Bootstrap.Project.Content">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\content"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="BootstrapContent" database="master" path="/sitecore/content/Bootstrap" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>